node_modules
.next
.pnpm-store
.pnpm-store/**
.git
dist
out
coverage

.env*
!.env.example

.vscode
.idea

*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

Dockerfile*
docker-compose*.yml

README.md
docker/dev-entry.sh