@use 'sass:math';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@function fontSize($size) {
	@return math.div($size, 16px) * 1rem;
}

@layer base {
	body {
		@apply dark:bg-[#0a0a0a] 
		  bg-[#edf6f9] transition-colors duration-300;
	}
}

h1 {
	font-size: fontSize(40px);
	font-weight: 700;
	line-height: 2.25rem;
	@media (max-width: 400px) {
		font-size: fontSize(30px);
	}
}

h2 {
	font-size: fontSize(30px);
	font-weight: 500;
}
